<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="p-4 bg-gray-100 flex gap-4">
      <%= link_to "Home", root_path %>
      <%# Only show log out if a user is signed in %>
      <%= button_to "Log out", session_path, method: :delete if authenticated? %>
    </nav>

    <% flash.each do |type, message| %>
    <div class="p-4 mb-4 bg-blue-100 text-blue-700">
      <%= message %>
    </div>
    <% end %>

    <main class="container mx-auto mt-10 px-5">
      <%# This is the ONLY place where your page content should load %>
      <%= yield %>
    </main>
  </body>
</html>